html {
    background-color: rgba(0, 0, 0, 0.753);
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
    color: white;
    margin: 0;
    box-sizing: border-box;
}
.main {
    max-width: 1200px;
    height: auto;
    margin: 50px auto;
    background-color: rgba(255, 112, 112, 0.556);
    border-radius: 20px;
}
header {
    max-width: 1200px ;
    height: auto;
    text-align: center;
    padding: 10px;
}
.header-title {
    height: 75px;
    font-size: 50px ;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.header-content {
    font-size: 30px;
    margin-top: 15px ;
}
.img {
    width: 640px;
    height: 400px;
    background-color: black;
    margin: 30px auto;
    padding: 20px;
}
.img > h3 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.content {
    width: 750px;
    height: auto;
    margin: 30px auto;
}
.content-title {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: 500;
}
.section-1 {
    font-size: 16px;
    padding: 10px;
    line-height: 2.4em;
}
.section-item2 {
    display: flex;
    flex-wrap: wrap;
}
.item2 {
    padding: 15px 30px;
    margin: 0;
    text-align: center;
}
.test {
    margin: 0;
    padding: 0;
    max-width: 200px;
    max-height: 200px;
}
.ig {
    max-width: 200px;
    max-height: 200px;
    position: relative;
}
.ig2 {
    position: absolute;
    margin-top: -400px;
    margin-left: 150px;
    min-width:  300px;
    min-height: 300px;
    z-index: 4;
    display: none;
}
img {
    width: 300px;
    height: 300px;
    object-fit: fill;
}
.test:hover {
    cursor: pointer;
}
.test:hover .ig2{
    display: block;
}
.item2 > h3 {
    font-size: 20px;
}